:root {
  --main-background: #e5e5e5;
  --mavely_blue: #4951de;
  --mavely_cream: #f8cebd;
  --navbar_gray: #f7f7f7;
  --divider_gray: #f5f5f5;
  --icon_gray: #f1f1f1;
  --border-fade: #e0e0e0;
  --light_black: #333333;
  --link_gray: #666666;
  --shop-green: #82cdad;
}
