@import "../constants.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background_color);
  overflow-x: hidden;
}

/* div {
  text-align: center;
} */

.max-width-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

.max-width-inner {
  max-width: 1152px;
  width: 100%;
}
